<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet"
        href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
    <title>Explore BhavCopy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Loader -->
    <div class="se-pre-con" id="loader">

    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light rounded">
        <div class="container-fluid">
            <a class="blue-color navbar-brand" href="/">Explore Bhav Copy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active px-3">
                        <a class="blue-color nav-link" target="_blank" href="https://www.bseindia.com/">BSE</a>
                    </li>
                    <li class="nav-item active px-3">
                        <a class="blue-color nav-link" target="_blank" href="https://www.nseindia.com/">NSE</a>
                    </li>
                </ul>
            </div>
            <form id="search_box" class="form-inline my-2 my-lg-0 d-none">
                <input id="scrip_name" class="form-control mr-sm-2" type="search" placeholder="Scrip Name"
                    aria-label="Scrip Name" required>
                <button id="search_button" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!-- Error alert -->
    <div class="alert alert-warning d-none" role="alert" id="error_box">

    </div>

    <!-- Download Bhavcopy button -->
    <!-- <div id="button-main" class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <button id="button-bhavcopy" class="btn btn-primary"><i class="fas fa-cloud-download-alt"></i> Download Bhav
                Copy</button>
        </div>
    </div> -->

    <!-- Table 10 results from redis -->
    <div id="table-content" class="container table-responsive">
        <!-- <div id="table-loading">

        </div> -->
        <table id="scrip_table" class="table table-bordered table-hover mt-2 mb-5 h-100 overflow-auto">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Scrip Code</th>
                    <th scope="col">Scrip Name</th>
                    <th scope="col">Open</th>
                    <th scope="col">High</th>
                    <th scope="col">Low</th>
                    <th scope="col">Close</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- Search Query Table -->
    <div id="table-search" class="container d-none table-responsive">
        <table id="result-table" class="table table-bordered table-hover mt-2">
            <thead class="thead-dark">
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Scrip Code</th>
                    <th scope="col">Scrip Name</th>
                    <th scope="col">Open</th>
                    <th scope="col">High</th>
                    <th scope="col">Low</th>
                    <th scope="col">Close</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- Footer -->
    <nav id="footer" class="navbar-custom-footer navbar fixed-bottom">
        <div class="container-fluid text-center mt-3">
            <ul class="list-inline mx-auto">
                <li class="list-inline-item"><a target="_blank" href="https://twitter.com/gera_anshul"><i
                            class="fab fa-twitter fa-lg"></i></a></li>
                <li class="list-inline-item"><a target="_blank" href="https://github.com/anshulgera"><i
                            class="fab fa-github fa-lg"></i></a></li>
                <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/anshulgera"><i
                            class="fab fa-linkedin fa-lg"></i></a></li>
            </ul>
        </div>
    </nav>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="https://kit.fontawesome.com/effc465da7.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>

        $(document).ready(function(){
            $(function(){
                $.getJSON('/get_bhav_copy',
                    function (data) {
                        if (data.length == 10) {
                            var scrip_data = '';
                            var count = 1
                            $.each(data, function (key, value) {
                                scrip_data += '<tr>';
                                scrip_data += '<th scope="row">' + count + '</th>';
                                scrip_data += '<td>' + value['Scrip Code'] + '</td>';
                                scrip_data += '<td>' + value['Scrip Name'] + '</td>';
                                scrip_data += '<td>' + value['Open'] + '</td>';
                                scrip_data += '<td>' + value['High'] + '</td>';
                                scrip_data += '<td>' + value['Low'] + '</td>';
                                scrip_data += '<td>' + value['Close'] + '</td>';
                                scrip_data += '</tr>';
                                count += 1;
                            });
                            $('#scrip_table').append(scrip_data);
                            console.log(data);
                            // Show table content
                            $('#loader').delay(500).fadeOut('slow');
                            $('#table-content').removeClass('d-none');
                            // Show search box
                            $('#search_box').removeClass('d-none');
                        }
                        else {
                            $('#error_box').removeClass('d-none');
                            $.each(data, function (key, value) {
                                $('#error_box').append(value);
                                console.log(value);
                            });
                        }

                    }
                );
            });
        });

        // search button script
        $(function () {
            $('#search_button').bind('click', function () {
                $('#result-table').children().not('thead').empty();
                // if search scrip name is not empty
                if ($('#scrip_name').val() != '') {
                    $.getJSON('/get_scrip_details', {
                        scrip_name: $('#scrip_name').val(),
                    }, function (data) {
                        if (data.length != 0) {

                            // to remove previous search result entry from the table for contiguous search queries
                            $('#scrip-search-result').remove();
                            // hide table with 10 entires and show search query table
                            $('#table-content').addClass('d-none');
                            $('#table-search').removeClass('d-none');


                            var scrip_details = '';
                            console.log(data);
                            $.each(data, function (key, value) {
                                scrip_details += '<tr id="scrip-search-result">';
                                scrip_details += '<td>' + value['Scrip Code'] + '</td>';
                                scrip_details += '<td>' + value['Scrip Name'] + '</td>';
                                scrip_details += '<td>' + value['Open'] + '</td>';
                                scrip_details += '<td>' + value['High'] + '</td>';
                                scrip_details += '<td>' + value['Low'] + '</td>';
                                scrip_details += '<td>' + value['Close'] + '</td>';
                                scrip_details += '</tr>';
                            });
                            $('#error_box').addClass('d-none');
                            $('#result-table').append(scrip_details);
                        }
                        else {
                            // to remove previous search result entry from the table for contiguous search queries
                            $('#error_box').empty();
                            $('#error_box').append("No such scrip name.");
                            $('#error_box').removeClass('d-none');
                        }

                    });
                    return false;

                }



            });
        });


    </script>
</body>

</html>